@media screen and (max-width:600px) {

video {
  width: 100%;
}

.sns {
  text-align: center;
  padding: 0;
}

.sns img {
  width: 7%;
  padding-right: 2%;
}

.message img  {
  width: 25%;
  padding-top: 5%;
}

.text-block-innner {
  padding: 2% 5%;
}

.text-block-innner p {
  width: 100%;
  padding: 0;
  font-size: 5vw;
}

.text-link  {
  padding: 0;
}

.menu {
  padding: 5% 5%;
}

.menu-image1 {
  padding: 0% 5%;
}

.menu-image1 img {
  width: 100%;
}

.menu-image2 {
  padding: 2% 5%;
}

.menu-image2 img {
  width: 100%;
}

.image-block {
  display: flex;
  padding: 0% 5%;
}

.image1 img {
  width: 100%;
}
.image2 img {
  width: 100%;
}

.image3 img {
  width: 100%;
}

.image4 img {
  width: 100%;
}

.image5 img {
  width: 100%;
}

.image-block2 {
  display: flex;
  padding: 0% 5%;
}

.image6 img {
  width: 100%;
}

.image7 img {
  width: 100%;
}

.image8 img {
  width: 100%;
}

.image9 img {
  width: 100%;
}

.image10 img {
  width: 100%;
}

.image-block3 {
  display: flex;
  padding: 0% 5%;
}

.image11 img {
  width: 100%;
}

.image12 img {
  width: 100%;
}

.image13 img {
  width: 100%;
}

.image14 img {
  width: 100%;
}

.image15 img {
  width: 100%;
}

.bunner {
  padding: 5%;
  margin: 0;
}

.bunner-block {
  display: block;
}

.takeout img {
  width: 100%;
  padding-bottom: 5%;
}

.reserve img {
  width: 100%;
  padding-bottom: 5%;
}

.bunner-block2 {
  display: block;
  padding: 0;
}

.Delivery img {
  width: 100%;
  padding-bottom: 5%;
}

.onlineshop img {
  width: 100%;
}

.timeaccess {
  padding: 5%;
}

.timeaccess img {
  width: 100%;
  padding: 0;
}

.menu img {
  width: 20%;
}

.image-logo {
  padding: 5%;
}

.image-logo img{
  width: 25%;
}

.header img {
  width: 100%;
}

.lb img {
  width: 100%;
}

.imageblock1 {
  display: flex;
}

#message .owner-image p {
  font-size: 2vw;
}

#message .owner-image {
  text-align: center;
  padding: 0;
  margin: 0;
}

#message .owner-image img{
  width: 50%;
  padding-top: 10%;
}

#message .owner-image p {
  text-align: center;
  font-size: 5vw;
  padding-bottom: 5%;
}

#access .access-logo img {
  width: 80%;
}

#access .access-text h1 {
  font-size: 5vw;
}

#access .access-text p {
  font-size: 4vw;
}

#access .text-red {
  font-size: 4vw;
}

#access .access-text2 p {
  font-size: 4vw;
}

#access  .access-image img {
  width: 80%;
}

#access .access-logo2 img {
  width: 80%;
}

#access .access-text4{
  font-size: 4vw;
}

#access .access-logo3 img {
  width: 60%;
}

#access .access-text4 {
  font-size: 4vw;
}
#access .googlemap {
  width: 100%;
}

#access .map p {
  text-align: center;
  font-size: 4vw;
}

#drinkmenu .drinkmenu-logo img{
  width: 30%;
  padding-bottom: 5%;
}

#drinkmenu .drinkmenu-image img {
  width: 80%;
  padding: 0;
  margin: 0;
}

.drinkmenu-bunner {
  display: block;
  padding: 0;
}

.bunner-left img {
  width: 90%;
  padding: 5%;
}

.drinkmenu-takeout img {
  width: 90%;
  padding: 5%;
}

.drinkmenu-delivery img {
  width: 90%;
  padding: 5%;
}

.drinkmenu-dinner img {
  width: 90%;
  padding: 5%;
}

#foodmenu {
  width: 100%;
}

#foodmenu .foodmenu-logo img {
  width: 25%;
}


#foodmenu .foodmenu-image img {
  width: 70%;
}

#contact .contact-logo h1 {
  font-size: 8vw;
}

#contact .contact-text {
  font-size: 4vw;
}

#contact input[type="text"] , input[type="email"]{
  width: 80%;
  height: 5%;
}

#contact textarea {
  width: 80%;
  height: 30%;
}

#contact input[type="submit"] {
  width: 30%;
  height: 5%;
}
