.menu-btn {
  position: fixed;
  top: 10px;
  right: 15px;
  display: flex;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: none;
  border: 1px solid #fff;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}

#menu-btn-check:checked ~ .menu-content {
  right: 0;/*メニューを画面内へ*/
}

.menu-content {
  width: 200px;
  height: 450px;
  position: fixed;
  top: 80px;
  right: 100%;
  z-index: 80;
  background-color: rgba(255, 255, 255, 0.5);
  margin-right: 15px;
}
.menu-content ul {
  padding: 20px;
  text-align: left;
}
.menu-content ul li {
  list-style: none;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color:#ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}
.menu-content ul li a::before {
  content: "";
  width: 0;
  height: 1px;
  background: #fff;
  display: block;
  position: absolute;
  top: calc(100% + 1px);
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: .3s;
}

.menu-content ul li a:hover::before {
  width: 100%;
}

body {
  background: url("https://raykato.github.io/main_haikei.png") no-repeat;
  -webkit-text-size-adjust: 100%;
  background-position: bottom;
  background-color: #000;
  width: 100%;
  margin: 0;
  padding: 0;
}

video {
  width: 100%;
}

.sns {
  text-align: center;
  margin-right: 10%;
  margin-left: 10%;
}

.sns img {
  height: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}

.infomation {
  text-align: center;
  margin-right: 10%;
  margin-left: 10%;
}

.message  {
  text-align: center;
  padding-top:　50px;
  width: 100%;
}

.message img {
  width: 150px;
  padding-top: 50px;
}

.text-block {
  text-align: center;
}

.text-block-innner p {
  font-size: 20px;
  color: #fff;
  text-align: left;
  display: inline-block;
  width: 80%;
  padding-right: 10%;
  padding-left: 10%;
}
.text-link {
  text-align: left;
  padding-right: 10%;
  padding-left: 10%;
}

.text-link a {
  color: #ff0000;
}

.menu {
  text-align: left;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.menu img {
  width: 100px;
}


.menu-image1 img {
  width: 1200px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
}
	
.menu-image1:hover {
  opacity: 0.6;
}

.menu-image2 img {
  width: 1200px;
  padding-top: 5%;
  margin: 0;
  vertical-align: bottom;
}
	
.menu-image2:hover {
  opacity: 0.6;
}

.Images {
 padding-bottom: 5%;
}

.image-logo {
 padding-right: 10%;
 padding-left: 10%;
 height: 50px;
}

.image-block {
  display: flex;
  padding-right: 10%;
  padding-left: 10%;
}
	
.image1 img[tabindex]{
	cursor:pointer;
}

.lb {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.7);
    opacity: 0;
    transition: .3s opacity ease;
    pointer-events: none;
    z-index: 100;
}

.lb img {
    width: auto !important;
    max-height: 100%!important;
    cursor: pointer;
}

.lb img,
.lb iframe {
    transform: scale(.85);
    transition: .3s all ease;
    padding: 30px 20px;
}

.lb:target {
    opacity: 1;
    pointer-events: auto;
    z-index: 101;
}

.lb:target img,
.lb:target iframe {
    transform: scale(1);
}

/* なんちゃって閉じるボタン*/
.lb::before,.lb::after {
    display: block;
    position: fixed;
    content: "";
    width: 24px;
    height:3px;
    top: 24px;
    right: 12px;
    background: #fff;
    border-radius: 4px;
}
.lb::before {
    transform: rotate(-315deg);
}
.lb::after {
    transform: rotate(315deg);
}

.image1 img {
  width: 240px;
  vertical-align: bottom;
}
	
.image1:hover {
  opacity: 0.6;
}

.image2 img {
  width: 240px;
  vertical-align: bottom;
}
	
.image2:hover {
  opacity: 0.6;
}

.image3 img {
  width: 240px;
  vertical-align: bottom;
}
	
.image3:hover {
  opacity: 0.6;
}

.image4 img {
  width: 240px;
  vertical-align: bottom;
}
	
.image4:hover {
  opacity: 0.6;
}

.image5 img {
  width: 240px;
  vertical-align: bottom;
}
	
.image5:hover {
  opacity: 0.6;
}

.image-block2 {
  display: flex;
  padding-right: 10%;
  padding-left: 10%;
}
	
.image6 img {
  width: 240px;
  padding: 0;
  vertical-align: bottom;
}
	
.image6:hover {
  opacity: 0.6;
}

.image7 img {
  width: 240px;
  padding: 0;
  vertical-align: bottom;
}
	
.image7:hover {
  opacity: 0.6;
}

.image8 img {
  width: 240px;
  padding: 0;
  vertical-align: bottom;
}
	
.image8:hover {
  opacity: 0.6;
}

.image9 img {
  width: 240px;
  padding: 0;
  vertical-align: bottom;
}
	
.image9:hover {
  opacity: 0.6;
}

.image10 img {
  width: 240px;
  padding: 0;
  vertical-align: bottom;
}
	
.image10:hover {
  opacity: 0.6;
}

.image-block3 {
  display: flex;
  padding-right: 10%;
  padding-left: 10%;
}

.image11 img {
  width: 240px;
  padding: 0;
}
	
.image11:hover {
  opacity: 0.6;
}

.image12 img {
  width: 240px;
  padding: 0;
}

.image12:hover {
  opacity: 0.6;
}

.image13 img {
  width: 240px;
  padding: 0;
}

.image13:hover {
  opacity: 0.6;
}

.image14 img {
  width: 240px;
  padding: 0;
}

.image14:hover {
  opacity: 0.6;
}

.image15 img {
  width: 240px;
  padding: 0;
}
	
.image15:hover {
  opacity: 0.6;
}

.bunner {
  padding-left: 10%;
  margin-right: 10%;
}

.bunner-block {
  display: flex;
  padding: 0;
  margin: 0;
}
	
.takeout img {
  width: 600px;
  margin: 0;
  vertical-align: bottom;
}

.takeout:hover {
  opacity: 0.6;
}

.reserve img {
  width: 600px;
  vertical-align: bottom;
}
	
.reserve:hover {
  opacity: 0.6;
}

.bunner-block2 {
  display: flex;
  padding: 0;
  margin: 0;
}
	
.Delivery img {
  width: 600px;
  padding: 0;
}
	
.Delivery:hover {
  opacity: 0.6;
}

.onlineshop img {
  width: 600px;
  padding: 0;
}
	
.onlineshop:hover {
  opacity: 0.6;
}

.timeaccess img {
  padding-top: 10%;
  padding-bottom: 5%;
  padding-right: 10%;
  padding-left: 10%;
}
	
.timeaccess:hover {
  opacity: 0.6;
}

.sa {
  opacity: 0;
  transition: all .5s ease;
}

.sa.show {
  opacity: 1;
  transform: none;
}

.sa--lr {
  transform: translate(-100px, 0);
}

.sa--rl {
  transform: translate(100px, 0);
}

.sa--up {
  transform: translate(0, 100px);
}

.sa--down {
  transform: translate(0, -100px);
}

.sa--scaleUp {
  transform: scale(.5);
}

.sa--scaleDown {
  transform: scale(1.5);
}

.sa--rotateL {
  transform: rotate(180deg);
}

.sa--rotateR {
  transform: rotate(-180deg);
}

.footer p {
  color: #fff;
  text-align: center;
　text-decoration: none;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #696969;
  margin:0;
}

.header img{
 width: 100%;
}

#message .message-image1 img {
  width: 80%;
}

#message .message-image2 img {
  width: 80%;
}

#message .owner-image  {
  text-align: left;
  margin-left: 10%;
  margin-top: 5%;
}

#message .owner-image img {
  width: 15%;
}

#message .owner-image p {
  color: #fff;
  text-align: left;
}

#message .message-text1 p {
  color: #fff;
  font-size: 20px;
  text-align: left;
  width: 80%;
  padding-right: 10%;
  padding-left: 10%;
}

#message .message-text2 p {
  color: #fff;
  font-size: 20px;
  text-align: left;
  width: 80%;
  padding-right: 10%;
  padding-left: 10%;
}

#message .message-text3 p {
  color: #fff;
  font-size: 20px;
  text-align: left;
  width: 80%;
  padding-right: 10%;
  padding-left: 10%;
}

@media screen and (max-width:600px){
/*画面サイズが600px以下の場合に適用 */
}

#message {
  background: url(https://raykato.github.io/backgrand.png) no-repeat;
  background-position: bottom;
  background-color: #000;
  margin: 0px auto;
  padding: 0px;
}

#access {
  background: #000;
}

#access .access-logo img {
  width: 400px;
  padding-top: 50px;
  padding-left: 110px;
}

#access .access-text h1 {
  color: #fff;
  text-align: left;
  padding-top: 50px;
  padding-left: 100px;
}

#access .access-text p {
  color: #fff;
  text-align: left;
  padding-top: 15px;
  padding-left: 110px;
}

#access .text-red {
  color: #ff0000;
  text-align: left;
  padding-left: 110px;
}

#access .access-text2 p {
  color: #fff;
  text-align: left;
  padding-left: 110px;
  padding-bottom: 50px;
}

#access .access-image img {
  width: 1200px;
  padding-bottom: 50px;
  padding-left: 110px;
}

#access .access-image:hover {
  opacity: 0.6;
}

#access .access-logo2 {
  width:250px;
}

#access .access-logo2 img {
  width: 250px;
  text-align: left;
  padding-left: 110px;
}

#access .access-text3 p {
  color: #fff;
  text-align: left;
  padding-left: 110px;
  padding-bottom: 50px;
}

#access .access-logo3 {
  width: 130px;
}

#access .access-logo3 img {
  width: 130px;
  text-align: left;
  padding-left: 110px;
}

#access .access-text4 {
  color: #fff;
  text-align: left;
  padding-left: 110px;
  padding-bottom: 50px;
}

#access .map {
 padding-left: 110px;
 padding-bottom: 50px;
}

#drinkmenu {
  background-color: #000;
  margin: 0;
  padding: 0;
}

#drinkmenu .drinkmenu-logo {
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 0;
  text-align: center;
}

#drinkmenu .drinkmenu-logo img {
  width: 20%;
}

#drinkmenu .coffee h1 {
  color: #fff;
  text-align: left;
  padding-left: 20%;
  padding-top: 0;
}

#drinkmenu .text {
  color: #fff;
  text-align: left;
  padding-left: 20%;
  font-size: 20px;
}

#drinkmenu .menu {
  color: #fff;
  text-align: left;
  padding-left: 20%;
  font-size: 25px;
  padding-top: 0;
}

#drinkmenu .Nodate h1 {
  color: #fff;
  text-align: left;
  padding-left: 20%;
}

#drinkmenu .softdrink h1 {
  color: #fff;
  text-align: left;
  padding-left: 20%;
}

#drinkmenu .Alcohol h1 {
  color: #fff;
  text-align: left;
  padding-left: 20%;
}

#drinkmenu .Cocktail h1 {
  color: #fff;
  text-align: left;
  padding-left: 20%;
}

.drinkmenu-bunner {
  display: flex;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.bunner-left img {
  width: 550px;
  height: 600px;
　padding-right: 10px;
}

.bunner-right img {
  width: 600px;
  padding-left: 10px;
}

.drinkmenu-takeout img {
  vertical-align: bottom;
  height: 200px;
}

.drinkmenu-takeout:hover {
  opacity: 0.6;
}

.drinkmenu-delivery img {
  vertical-align: bottom;
  height: 200px;
}

.drinkmenu-delivery:hover {
  opacity: 0.6;
}

.drinkmenu-dinner img {
  height: 200px;
}

.drinkmenu-dinner:hover {
  opacity: 0.6;
}

#foodmenu .foodmenu-logo {
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 0;
  text-align: center;
}

#foodmenu .foodmenu-logo img {
  width: 20%;
}

#foodmenu .foodmenu-text {
  margin: 0;
  padding: 0;
}

#foodmenu .lunch{
   padding-bottom: 2%;
}

#foodmenu .lunch h1 {
  color: #fff;
  text-align: center;
}

#foodmenu .lunch p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 2.5em;
}

#foodmenu .meatpack {
   padding-bottom: 2%;
}

#foodmenu .meatpack h1 {
  color: #fff;
  text-align: center;
}

#foodmenu .meatpack p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 2.5em;
}

#foodmenu .vegetablepack {
  padding-bottom: 2%;
}

#foodmenu .vegetablepack h1 {
  color: #fff;
  text-align: center;
}

#foodmenu .vegetablepack p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 2.5em;
}

#foodmenu .tacorise h1 {
  color: #fff;
  text-align: center;
}

#foodmenu .tacorise p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 1.5em;
}

#foodmenu .kazari-bottom {
  padding-bottom: 10%;
}

#foodmenu .cafetime {
  padding-bottom: 2%;
}

#foodmenu .cafetime h1 {
  color: #fff;
  text-align: center;
}

#foodmenu .cafetime p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 2.5em;
}

#foodmenu .otsumami {
  padding-bottom: 2%;
}

#foodmenu .otsumami h1 {
  color: #fff;
  text-align: center;
}

#foodmenu .otsumami p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 1.5em;
}

#foodmenu .desert h1 {
  color: #fff;
  text-align: center;
}

#foodmenu .desert p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 1.5em;
}

#foodmenu .dinnermenu {
  padding-bottom: 2%;
}

#foodmenu .dinnermenu h1 {
  color: #fff;
  text-align: center;
}

#foodmenu .dinnermenu p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 1.5em;
}

#foodmenu .zensai {
  padding-bottom: 2%;
}

#foodmenu .zensai h1 {
  color: #fff;
  text-align: center;
}

#foodmenu .zensai p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 1.5em;
}

#foodmenu .reisai {
  padding-bottom: 2%;
}

#foodmenu .reisai h1 {
  color: #fff;
  text-align: center;
}

#foodmenu .reisai p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 1.5em;
}

#foodmenu .onsai {
  padding-bottom: 2%;
}

#foodmenu .onsai h1 {
  color: #fff;
  text-align: center;
}

#foodmenu .onsai p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 1.5em;
}

#foodmenu .fish {
  padding-bottom: 2%;
}

#foodmenu .fish h1 {
  color: #fff;
  text-align: center;
}

#foodmenu .fish p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 1.5em;
}

#foodmenu .meat {
  padding-bottom: 2%;
}

#foodmenu .meat h1 {
  color: #fff;
  text-align: center;
}

#foodmenu .meat p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 1.5em;
}

#foodmenu .kanmi {
  padding-bottom: 2%;
}

#foodmenu .kanmi h1 {
  color: #fff;
  text-align: center;
}

#foodmenu .kanmi p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 1.5em;
}

#foodmenu .text p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 1.5em;
}

.contact-logo {
  text-align: center;
  margin-top: 30px;
  color: #fff;
  font-family: serif;
  font-size: 25px;
}

.contact-logo h1{
  margin: 0;
}

.contact-text {
  color: #fff;
  text-align: center;
  line-height: 40px;
  padding-bottom: 20px;
  padding-top: 0;
  margin-top: 0;
}

form {
  text-align: center;
}

input[type="text"] , input[type="email"]{
  width: 300px;
  height: 5px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
  border-radius: 5px;
  text-align: center;
}

textarea {
  width: 300px;
  margin-bottom: 10px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
  border-radius: 5px;
}

form p {
  color: #fff;
}

input[type="submit"] {
  width: 80px;
  font-size: 12px;
  margin-bottom: 30px;
}

@media screen and (max-width:600px) {
/* 画面サイズが600px以下の場合に適用 */

body {
 width: auto;
}
	
.text-block-innner p{
  font-size: 2vw;
}
	
.menu img {
 max-width: 100%;
}

.bunner-block {
 display: flex;
 max-width: 100%;
 margin: 0;
}
	
.takeout img {
  max-width: 100%;
}
	
.reserve img {
  max-width: 100%;
}

.bunner-block2 {
 display: flex;
 width: auto;
 margin: 0;
}

.Delivery img {
  max-width: 100%;
}

.onlineshop img {
  max-width: 100%;
  padding: 0;
}
	
.timeaccess img {
 max-width: 100%;
}

.message-text1 p {
 font-size: 2vw;
}
	
.message-text2 p {
 font-size: 2vw;
}

.message-text3 p {
 font-size: 2vw;
}

.message-image1 img {
 max-width: 100%;
}
	
.message-image2 img {
 max-width: 100%;
}

.header img {
 width: auto;
}
}


