@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
}

p {
	font-family: "ヒラギノ角ゴ ProN";
	margin: 0;
	padding: 0;
}

/*========= ローディング画面のためのCSS ===============*/
#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #333;
  z-index: 9999999;
  text-align:center;
  color:#fff;
}

#splash-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*========= 画面遷移のためのCSS ===============*/

/*画面遷移アニメーション*/
.splashbg{
    display: none;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg{
    display: block;
    content: "";
    position:fixed;
  z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
  left: 0;
    transform: scaleX(0);
    background-color: #333;/*伸びる背景色の設定*/
  animation-name:PageAnime;
  animation-duration:1.2s;
  animation-timing-function:ease-in-out;
  animation-fill-mode:forwards;
}

@keyframes PageAnime{
  0% {
    transform-origin:left;
    transform:scaleX(0);
  }
  50% {
    transform-origin:left;
    transform:scaleX(1);
  }
  50.001% {
    transform-origin:right;
  }
  100% {
    transform-origin:right;
    transform:scaleX(0);
  }
}

/*画面遷移の後現れるコンテンツ設定*/
#container{
  opacity: 0;/*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container{
  animation-name:PageAnimeAppear;
  animation-duration:1s;
  animation-delay: 0.8s;
  animation-fill-mode:forwards;
  opacity: 0;
}

@keyframes PageAnimeAppear{
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;
}
}

/*========= レイアウトのためのCSS ===============*/

h1{
  font-size:1.2rem;
}

h2{
  font-size:1.2rem;
  text-align: center;
  margin: 0 0 30px 0;
}

p{
  margin-top:20px;  
}

small{
  color:#fff;
  display: block;
  text-align: center;
}

#header{
  background:#333;
  color:#fff;
  text-align: center;
  padding: 20px;
}

section{
  padding:100px 30px;
}

section:nth-child(2n){
  background:#f3f3f3; 
}

#footer{
  background:#333;
  padding:20px;
}

.top_logo {
	text-align: center;
}

.top_logo img {
	width: 150px;
}

.top_text {
	text-align: center;
	margin: 30px 0;
}

.top_text img {
	width: 300px;
}

.btn_box {
	display: flex;
	justify-content: space-around;
	margin: 5% 20%;
}

.top_btn {
	width: 200px;
	padding: 15px;
	background: #000;
	text-align: center;
	border-radius: 15px;
	z-index: 1000;

}

.top_btn:hover {
	letter-spacing: 0.15em;
}

.top_btn a {
	color: #fff;
}

.top_header {
	padding-top: 15%;
}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height: 100vh;
	position: relative;
	z-index: 10;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #000;
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
	z-index: 10;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
	z-index: 10;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
	z-index: 10;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
	z-index: 10;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
	z-index: 10;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
	z-index: 10;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
	z-index: 10;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
	z-index: 10;}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
	z-index: 10;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/* ナビゲーション
-----------------------------------*/
.header {
	background: var(--background-navbar);
	width: 100%;
	height: 52px;
}

/* Nav items */
.menu {
	list-style: none;
  	position: fixed;
  	width: 30%;
  	height: 100%;
  	top: 0;
  	margin-top: 52px;
  	padding: 0 0 10px 0;
  	clear: both;
  	background: var(--background-navbar);
  	transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  	transform: scale(1, 0);
  	transform-origin: top;
}

/* Hamburger menu button */
.menu-btn:checked ~ .menu {
	transform: scale(1, 1);
	transform-origin: top;
	transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
	margin-top: 100px;
}

/* Hamburger menbu text */
.menu a {
  	text-decoration: none;
  	font-weight: 500;
  	letter-spacing: 2px;
  	font-size: 16px;
  	text-transform: capitalize;
  	color: #000;
  	opacity: 0;
  	transition: 0.5s;
  	display: inline-block;
  	transition: .3s;
}

.menu a:hover{
  	transform: rotate(5deg);
}


.menu li {
  	border-top: 1px solid rgb(75, 75, 75);
  	padding: 15px 0;
  	margin: 0 54px;
  	opacity: 0;
  	transition: 0.5s;
}

.menu-btn:checked ~ .menu a,
.menu-btn:checked ~ .menu li {
  	opacity: 1;
  	transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
}

.menu-btn {
  	display: none;
}

.menu-icon {
	display: inline-block;
	position: fixed;
	cursor: pointer;
	padding: 30px 14px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navicon {
  	background: #000;
  	display: block;
  	height: 3px;
  	width: 26px;
  	position: relative;
  	transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before,
.navicon:after {
  	content: "";
  	display: block;
 	height: 100%;
  	width: 100%;
  	position: absolute;
  	background: #000;
  	transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before {
  	top: 9px;
}

.navicon:after {
  	bottom: 9px;
}

/* Hamburger Menu Animation Start */
.menu-btn:checked ~ .menu-icon .navicon:before {
  	transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  	transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  	top: 0;
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  	bottom: 0;
}

.menu-btn:checked ~ .menu-icon .navicon {
  	background: rgba(0, 0, 0, 0);
  	transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
/* Hamburger Menu Animation End */

/* Navbar Container */
.navtext-container {
  	width: 100%;
  	height: 52px;
  	position: absolute;
  	box-sizing: border-box;
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

/* Navbar Text */
.navtext {
  	position: absolute;
  	margin-top: 35px;
}

.navtext_top{
  	position: absolute;
  	margin-top: 150px;
}

.navtext img {
	width: 90px;
}

.navtext_top img {
	width: 250px;
}

.contents {
	margin: 10% 20%;
}

.icon {
	text-align: center;
}

.design {
	margin-bottom: 20%;
}

.logo {
	display: flex;
	align-items: center; /* 垂直中心 */
	justify-content: left;
	margin-top: 70px;
}

.logo:before {
	border-top: 2px solid;
	content: "";
	width: 20em; /* 線の長さ */
}

.logo:before {
	margin-right: 1em; /* 文字の右隣 */
}

.de_ig {
	margin-top: 50px;
	text-align: center;
}

.de_ig img {
	filter: grayscale(100%);
}

.de_ig img:hover {
	filter: grayscale(0);
	transition: 0.3s;
}

#index span {
	font-family: "Arial Black";
	font-size: 30px;
}

p.left {
	font-family: monospace;
	font-size: 20px;
	display: inline-block;
  	text-align: left;
	width: 60%;
}

.works {
	margin-bottom: 20%;
}

.logo_02 {
	display: flex;
	align-items: center; /* 垂直中心 */
	justify-content: right;
	margin-top: 70px;
}

.logo_02:after {
	border-top: 2px solid;
	content: "";
	width: 20em; /* 線の長さ */
}

.logo_02:after {
	margin-left: 1em; /* 文字の右隣 */
}

.wo_ig {
	text-align: center;
	margin-top: 50px;
}

.wo_ig img {
	width: 60%;
	filter: grayscale(100%);
}

.wo_ig img:hover {
	filter: grayscale(0);
	transition: 0.3s;
}

.image_link {
	display:block; 
	position:relative;
	text-decoration:none;
	width: 60%;
	margin: 0 auto;
	margin-top: 30px;
}

.image_link img {
	display:block;
	width:100%;
}

.image_link:before {
	content:"";
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	z-index:2;
	background:#000;/*好みの色に変えてください。*/
	opacity:0;
	transition:0.3s;
}

.image_link:after {
	content:"visit the site";/*好みの文章に変更してください。*/
	display:block;
	color:#fff;
	line-height:48px;
	width:180px;
	border:solid 1px #fff;
	border-radius:5px;
	text-align:center;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-1em;
	margin-left:-90px;
	opacity:0;
	z-index:3;
	transition:0.3s;
	font-weight:bold;
	letter-spacing:0.2em;
}

.image_link:hover:before {
	opacity:0.5;
}

.image_link:hover:after {
	opacity:1;
	margin-top:-0.5em;
}

.contact {
	width: 200px;
	padding: 15px;
	text-align: center;
	background: #000;
	border-radius: 15px;
	margin: 0 auto;
}

.contact:hover {
	background: #fff;
	border: 2px solid #000;
}

.contact a {
	color: #fff;
	font-family: "Arial Black";
	text-decoration: none;
}

.contact a:hover {
	color: #000;
}

/*==================================================
スライダーのためのcss
===================================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:100%;
    margin:0 auto;
}

.slider img {
    width:auto;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:auto;
}

.slider .slick-slide {
  transform: scale(0.8);/*左右の画像のサイズを80%に*/
  transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
  opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
  transform: scale(1);/*中央の画像のサイズだけ等倍に*/
  opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
  margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
  margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}

.slider.design {
	width: 60%;
}

.slider.design img {
	width: 60%;
	margin: 0 auto;
}

a.webdesign img {
	width: 550px;
}

/*========= レイアウトのためのCSS ===============*/

body{
  background:#eee;
}

ul{
  margin:0;
  padding: 0;
  list-style: none;
}

a{
  color: #333;
}

a:hover,
a:active{
  text-decoration: none;
}

footer {
	width: 100%;
	margin-top: 15%;
	padding: 15px 0;
	text-align: center;
	font-size: 12px;
}

footer img {
	width: 90px;
	margin-bottom: 10px;
}

/* about
-------------------------------------*/
.namelogo {
	margin-bottom: 30px;
	text-align: center;
}

.namelogo img {
	width: 300px;
}

.icon {
	text-aligin: center;
}

.icon img {
	width: 300px;
}

.skill {
	margin: 15% 0;
	text-align: center;
}

.title {
	margin: 50px;
}

.title img {
	width: 150px;
}

.graph img {
	width: 550px;
}

.favorite {
	text-align: center;
	margin: 15% 0;
}

.fav_icon img {
	width: 500px;
}
 


/* works
-------------------------------------*/
.work_ig {
	text-align: center;
}

.design_flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 50px 0;
	width: 100%;
}

.design_flex div {
	margin-bottom: 50px;
}

.img_box {
	overflow:hidden;
	width: 500px;
}

.img_box img {
	width: 100%;
	margin-top: 20px;
	transition:1s all;
}

.img_box img:hover{
  	transform:scale(1.2,1.2);
  	transition:1s all;
}

p.lb {
	font-size: 1.8rem;
	font-family: "Arial Black";
	margin-bottom: 8px;
	margin-top: 15px;
}

.works_design img {
	margin-top: 30px;
}

.overlay { /* グレーの背景 */
  	position: fixed;
  	background: rgba(0, 0, 0, 0.2);
  	transition: all 0.5s 0s ease;
  	visibility: hidden;
  	opacity: 0;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
}

#pop-up {
  	display: none;
}

#pop-up:checked + .overlay {
  	visibility: visible;
  	opacity: 1;
  	z-index: 100000;
  	background-color: #000000D0;
  	width: 100%;
}

.popWindow {
  	border-radius: 5px;
  	overflow: auto; /* スクロールバー用 */
  	max-height: 95%; /* すき間 */
  	min-width: fit-content; /* 横幅が広い時に白の部分が大きくならないため */
  	max-width: 95%; /* すき間 */
  	position: fixed;
  	top: 50%; /* 中央に */
  	left: 50%; /* 中央に */
  	transform: translate(-50%, -50%); /* 中央に */
  	z-index: 100010;
  	font-size: 13px;
  	line-height: 18px;
  	margin: 10px auto;
  	padding: 4px 10px;
  	background: #FFFD; /* 枠の色 */
  	text-align: center; /* 文字を中央寄せ */
  	transition: all 500ms ease-in-out;
}

.popWindow .ptitle {
  	font-size: 15px;
  	margin: 8px;
  	color: #333;
}

.popWindow .close {
  	position: absolute;
  	top: 8px;
  	right: 10px;
  	transition: all 300ms;
  	font-size: 24px;
  	line-height: inherit;
  	font-weight: bold;
  	text-decoration: none;
  	color: #000;
  	padding: 2px;
}

.popWindow .close:hover {
  	color: #06D85F;
}

.popWindow::-webkit-scrollbar-track {
  	background: none;
}

.popWindow::-webkit-scrollbar {
  	width: 10px;
  	height: 10px;
}

.popWindow::-webkit-scrollbar-thumb {
  	background: #999;
  	border-radius: 5px;
}

.clickable:hover {
  	cursor: pointer;
}

.element {
  /* 最初は非表示 */
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
  transition: transform 1s, opacity 1s, visibility 1s;
  
  /* （装飾用スタイル） */
  width: 80%;
  height: 120px;
  background-color: #ddd;
}
/* フェードイン時に入るクラス */
.is-fadein {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

@media screen and (max-width: 959px) {


	.top_logo img {
		width: 100px;
	}

	.top_text img {
		width: 180px;
	}
	
	.top_header {
		margin-top: 0;
	}

	.btn_box {
		display: block;
		width: 60%;
		margin: 0 auto;
		z-index: 1000;
		position: absolute;
		width: 100%;
	}

	.top_btn {
		width: 60%;
		margin: 30px auto;
	}
	
	.header {
		text-align: left;
		padding: 0;
		width: 100%
	}
	
	.header img {
		width: 75px;
	}
	
	.menu-icon {
		padding: 0 10px;
	}
	
	.navtext {
		margin-top: 0;
		text-align: center;
	}
	
	.navtext-container {
		height: 9px;
		padding: 10px 0;
	}
	
	.image_link {
		width: 100%;
	}

	.contents {
		margin: 0 10px;
	}

	.icon img {
		width: 100%;
	}
	
	.design img {
		width: 50%;
	}

	.de_ig {
		margin-top: 50px;
		text-align: center;
	}

	.de_ig img {
		width: 100%;
	}

	span {
		font-size: 20px;
	}

	p.left {
		font-size: 15px;
		width: 100%;
	}

	.works {
		margin-bottom: 20%;
	}
	
	.works img{
		width: 100%;
	}

	.travel {
		margin-bottom: 20%;
	}
	
	.travel img{
		width: 100%;
	}
	
	.logo img {
		width: 150px;
	}
	
	.logo_02 img {
		width: 100px;
	}
	
	/* ナビゲーション
-----------------------------------*/

/* Hamburger menu button */
.menu-btn:checked ~ .menu {
	transform: scale(1, 1);
	transform-origin: top;
	transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
	margin-top: 80px;
	background: #000;
	width: 50%;
	position: fixed;
	z-index: 1000;
}

/* Hamburger menbu text */
.menu a {
  	text-decoration: none;
  	font-weight: 500;
  	letter-spacing: 2px;
  	font-size: 16px;
  	text-transform: capitalize;
  	color: #000;
  	opacity: 0;
  	transition: 0.5s;
  	display: inline-block;
  	transition: .3s;
	color: #fff;
}

	.menu li {
  	border-top: 2px solid rgb(75, 75, 75);
  	padding: 15px 20px;
  	margin: 0;
}

.menu-btn:checked ~ .menu a,
.menu-btn:checked ~ .menu li {
  	opacity: 1;
  	transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
}

.menu-btn {
  	display: none;
}

.menu-icon {
	display: inline-block;
	position: fixed;
	cursor: pointer;
	padding: 30px 14px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navicon {
  	background: #000;
  	display: block;
  	height: 3px;
  	width: 26px;
  	position: relative;
  	transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before,
.navicon:after {
  	content: "";
  	display: block;
 	height: 100%;
  	width: 100%;
  	position: absolute;
  	background: #000;
  	transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before {
  	top: 9px;
}

.navicon:after {
  	bottom: 9px;
}

/* Hamburger Menu Animation Start */
.menu-btn:checked ~ .menu-icon .navicon:before {
  	transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  	transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  	top: 0;
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  	bottom: 0;
}

.menu-btn:checked ~ .menu-icon .navicon {
  	background: rgba(0, 0, 0, 0);
  	transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
/* Hamburger Menu Animation End */

/* Navbar Container */
.navtext-container {
  	width: 100%;
  	height: 52px;
  	position: absolute;
  	box-sizing: border-box;
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

/* Navbar Text */
.navtext {
  	position: absolute;
  	margin-top: 35px;
}

.navtext_top{
  	position: absolute;
  	margin-top: 150px;
}

.navtext img {
	width: 90px;
}

.navtext_top img {
	width: 250px;
}

.contents {
	margin: 0;
	padding: 70px 15px;
	}

	
/* about
-------------------------------------*/


	.namelogo img {
		width: 200px;
	}


	.icon img {
		width: 150px;
	}
	
	.title {
		margin-bottom: 20px;
	}
	
	.title img {
		width: 100px;
	}
	
	.skill {
		padding: 15px 0;
		margin: 0;
	}

	.graph img {
		width: 100%;
	}	
	
	.favorite {
		padding: 25px 0;
		margin: 0;
	}

	.fav_icon img {
		width: 100%;
	}

/*works
-------------------------------------*/

	.design_flex {
		display: block;
		margin: 50px 0;
		width: 100%;
	}

	.design_flex div {
		margin-bottom: 50px;
	}

	.img_box  {
		width: 100%;
		margin-top: 0;
	}

	p.lb {
		font-size: 1.5rem;
	}

	.works_design img {
		margin-top: 30px;
	}
	
	.popup {
		width: 100%;
	}
	
	.img_box img {
		margin-top: 10px;
	}
	
	footer img {
		width: 50px;
		padding-bottom: 5px;
		margin: 0;
	}
	
	p {
		margin-top: 0;
	}
}