.menu-btn {
  position: fixed;
  top: 10px;
  right: 15px;
  display: flex;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: none;
  border: 1px solid #fff;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}

#menu-btn-check:checked ~ .menu-content {
  right: 0;/*メニューを画面内へ*/
}

.menu-content {
  width: 200px;
  height: 450px;
  position: fixed;
  top: 80px;
  right: 100%;
  z-index: 80;
  background-color: rgba(128, 128, 128, 0.9);
  margin-right: 15px;
}

.menu-content ul {
  padding: 20px;
  text-align: left;
}
.menu-content ul li {
  list-style: none;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color:#ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}

.menu-content ul li :hover {
  opacity: 0.6;
}

#top {
  background: url("https://raykato.github.io/main_haikei.png") no-repeat;
  background-position: bottom;
  background-color: #000;
  width: 100%;
  margin: 0;
  padding: 0;
}

video {
  width: 100%;
  display: block !important;
}

.sp {
  display: none !important;
  width: 100%;
}

.sns {
  text-align: center;
  padding-top: 2%;
}

.sns img {
  width: 3%;
  padding-right: 3%;
}

.message  {
  text-align: center;
  padding-top:　50px;
  width: 100%;
}

.message img {
  width: 150px;
  padding-top: 50px;
}

.text-block {
  text-align: center;
}

.text-block-innner p {
  font-size: 20px;
  color: #fff;
  text-align: left;
  display: inline-block;
  width: 80%;
  padding-right: 10%;
  padding-left: 10%;
}
.text-link {
  text-align: left;
  padding-right: 10%;
  padding-left: 10%;
}

.text-link a {
  color: #ff0000;
}

.menu {
  text-align: left;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 5%;
}

.menu img {
  width: 10%;
}

.menu-image1 {
  padding-right: 10%;
  padding-left: 10%;
}

.menu-image1 img {
  width: 100%;
  margin: 0;
  vertical-align: bottom;
}

.menu-image1:hover {
  opacity: 0.6;
}

.menu-image2 {
  padding-right: 10%;
  padding-left: 10%;
}

.menu-image2 img {
  width: 100%;
  padding-top: 2%;
  margin: 0;
  vertical-align: bottom;
}

.menu-image2:hover {
  opacity: 0.6;
}

.Images {
 padding-bottom: 5%;
}

.image-logo {
 padding-right: 10%;
 padding-left: 10%;
 padding-top: 5%;
 padding-bottom: 2%;
}

.image-logo img {
  width: 10%;
}

.image-block {
  display: flex;
  padding-right: 10%;
  padding-left: 10%;
}

.image1 img[tabindex]{
	cursor:pointer;
}

.lb {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.7);
    opacity: 0;
    transition: .3s opacity ease;
    pointer-events: none;
    z-index: 100;
}

.lb img {
    width: 70% !important;
    max-height: 100%!important;
    cursor: pointer;
}

.lb img,
.lb iframe {
    transform: scale(.85);
    transition: .3s all ease;
    padding: 30px 20px;
}

.lb:target {
    opacity: 1;
    pointer-events: auto;
    z-index: 101;
}

.lb:target img,
.lb:target iframe {
    transform: scale(1);
}

/* なんちゃって閉じるボタン*/
.lb::before,.lb::after {
    display: block;
    position: fixed;
    content: "";
    width: 24px;
    height:3px;
    top: 24px;
    right: 12px;
    background: #fff;
    border-radius: 4px;
}
.lb::before {
    transform: rotate(-315deg);
}
.lb::after {
    transform: rotate(315deg);
}

.image1 img {
  width: 100%;
  vertical-align: bottom;
}

.image1:hover {
  opacity: 0.6;
}

.image2 img {
  width: 100%;
  vertical-align: bottom;
}

.image2:hover {
  opacity: 0.6;
}

.image3 img {
  width: 100%;
  vertical-align: bottom;
}

.image3:hover {
  opacity: 0.6;
}

.image4 img {
  width: 100%;
  vertical-align: bottom;
}

.image4:hover {
  opacity: 0.6;
}

.image5 img {
  width: 100%;
  vertical-align: bottom;
}

.image5:hover {
  opacity: 0.6;
}

.image-block2 {
  display: flex;
  padding-right: 10%;
  padding-left: 10%;
}

.image6 img {
  width: 100%;
  padding: 0;
  vertical-align: bottom;
}

.image6:hover {
  opacity: 0.6;
}

.image7 img {
  width: 100%;
  padding: 0;
  vertical-align: bottom;
}

.image7:hover {
  opacity: 0.6;
}

.image8 img {
  width: 100%;
  padding: 0;
  vertical-align: bottom;
}

.image8:hover {
  opacity: 0.6;
}

.image9 img {
  width: 100%;
  padding: 0;
  vertical-align: bottom;
}

.image9:hover {
  opacity: 0.6;
}

.image10 img {
  width: 100%;
  padding: 0;
  vertical-align: bottom;
}

.image10:hover {
  opacity: 0.6;
}

.image-block3 {
  display: flex;
  padding-right: 10%;
  padding-left: 10%;
}

.image11 img {
  width: 100%;
  padding: 0;
}

.image11:hover {
  opacity: 0.6;
}

.image12 img {
  width: 100%;
  padding: 0;
}

.image12:hover {
  opacity: 0.6;
}

.image13 img {
  width: 100%;
  padding: 0;
}

.image13:hover {
  opacity: 0.6;
}

.image14 img {
  width: 100%;
  padding: 0;
}

.image14:hover {
  opacity: 0.6;
}

.image15 img {
  width: 100%;
  padding: 0;
}

.image15:hover {
  opacity: 0.6;
}

.bunner {
  padding-left: 10%;
  margin-right: 10%;
}

.bunner-block {
  display: flex;
  padding: 0;
  margin: 0;
}

.takeout img {
  width: 100%;
  margin: 0;
  vertical-align: bottom;
}

.takeout:hover {
  opacity: 0.6;
}

.reserve img {
  width: 100%;
  vertical-align: bottom;
}

.reserve:hover {
  opacity: 0.6;
}

.bunner-block2 {
  display: flex;
  padding: 0;
  margin: 0;
}

.Delivery img {
  width: 100%;
  padding: 0;
}

.Delivery:hover {
  opacity: 0.6;
}

.onlineshop img {
  width: 100%;
  padding: 0;
}

.onlineshop:hover {
  opacity: 0.6;
}

.timeaccess {
  padding: 5% 10%;
}

.timeaccess img {
  width: 100%;
}

.timeaccess:hover {
  opacity: 0.6;
}

.sa {
  opacity: 0;
  transition: all .5s ease;
}

.sa.show {
  opacity: 1;
  transform: none;
}

.sa--lr {
  transform: translate(-100px, 0);
}

.sa--rl {
  transform: translate(100px, 0);
}

.sa--up {
  transform: translate(0, 100px);
}

.sa--down {
  transform: translate(0, -100px);
}

.sa--scaleUp {
  transform: scale(.5);
}

.sa--scaleDown {
  transform: scale(1.5);
}

.sa--rotateL {
  transform: rotate(180deg);
}

.sa--rotateR {
  transform: rotate(-180deg);
}

.footer {
 background: #808080;
 padding: 2%;
 vertical-align: bottom;
 margin: 0;
}

.footer p {
  text-align: center;
  color: #fff;
  margin: 0;
}

.header img{
 width: 100%;
}

#message .message-image1 img {
  width: 80%;
}

#message .message-image2 img {
  width: 80%;
}

#message .owner-image  {
  text-align: left;
  margin-left: 10%;
  margin-top: 5%;
}

#message .owner-image img {
  width: 15%;
}

#message .owner-image p {
  color: #fff;
  text-align: left;
}

#message .message-text1 p {
  color: #fff;
  font-size: 20px;
  text-align: left;
  width: 80%;
  padding-right: 10%;
  padding-left: 10%;
}

#message .message-text2 p {
  color: #fff;
  font-size: 20px;
  text-align: left;
  width: 80%;
  padding-right: 10%;
  padding-left: 10%;
}

#message .message-text3 p {
  color: #fff;
  font-size: 20px;
  text-align: left;
  width: 80%;
  padding-right: 10%;
  padding-left: 10%;
}

#message {
  background: url(https://raykato.github.io/backgrand.png) no-repeat;
  background-position: bottom;
  background-color: #000;
  margin: 0px;
  padding: 0px;
}

#access {
  background: #000;
  padding: 0;
  margin: 0;
}

#access .access-logo img {
  width: 30%;
  padding-top: 5%;
  padding-right: 10%;
  padding-left: 10%;}

#access .access-text h1 {
  color: #fff;
  text-align: left;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 5%;
}

#access .access-text p {
  color: #fff;
  text-align: left;
  padding-right: 10%;
  padding-left: 10%;
}

#access .text-red {
  color: #ff0000;
  text-align: left;
  padding-right: 10%;
  padding-left: 10%;
}

#access .access-text2 p {
  color: #fff;
  text-align: left;
  padding-right: 10%;
  padding-left: 10%;
}

#access .access-image img {
  width: 80%;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 5%;
}

#access .access-logo2 {
  padding-right: 10%;
  padding-left: 10%;
}

#access .access-logo2 img {
  width: 20%;
  text-align: left;

}

#access .access-text3 p {
  color: #fff;
  text-align: left;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 5%;
}

#access .access-logo3 {
  padding-right: 10%;
  padding-left: 10%;
}

#access .access-logo3 img {
  width: 10%;
}

#access .access-text4 {
  color: #fff;
  text-align: left;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 5%;
}

#access .map {
  padding-right: 10%;
  padding-left: 10%;
}

#access .map p {
  text-align: right;
  padding-bottom: 5%;
  color: #fff; 
  text-decoration: none;
}

#access .map a {
  text-decoration: none;
}

#drinkmenu {
  background-color: #000;
  margin: 0;
  padding: 0;
}

#drinkmenu .drinkmenu-logo {
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 0;
  text-align: center;
}

#drinkmenu .drinkmenu-logo img {
  width: 20%;
}

#drinkmenu .drinkmenu-image {
  text-align: center;
}

#drinkmenu .drinkmenu-image img {
  width: 40%;
  padding: 5% 10%;
}


.drinkmenu-bunner {
  display: flex;
  padding-right: 10%;
  padding-left: 10%;
}

.bunner-left img {
  width: 100%;
  height: 77%;
}

.bunner-right img {
  width: 40%;
  padding-left: 2%;
}

.drinkmenu-takeout img {
  vertical-align: bottom;
  width: 100%;
  height: 100%;
}

.drinkmenu-takeout:hover {
  opacity: 0.6;
}

.drinkmenu-delivery img {
  vertical-align: bottom;
  width: 100%;
  height: 100%;
}

.drinkmenu-delivery:hover {
  opacity: 0.6;
}

.drinkmenu-dinner img {
  width: 100%;
  height: 100%;
}

.drinkmenu-dinner:hover {
  opacity: 0.6;
}

#foodmenu {
  background-color: #000;
  margin: 0;
  padding: 0;
}

#foodmenu .foodmenu-logo {
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 0;
  text-align: center;
}

#foodmenu .foodmenu-logo img {
  width: 20%;
}

#foodmenu .foodmenu-image {
  text-align: center;
}

#foodmenu .foodmenu-image img {
  width: 40%;
  padding: 5% 10%;
}

#contact {
  background-color: #000;
  padding: 0;
  margin: 0;
}

#contact .contact-logo {
  padding-top: 5%;
}

#contact .contact-logo h1{
  text-align: center;
  color: #fff;
}

#contact .contact-text {
  color: #fff;
  text-align: center;
  line-height: 40px;
  padding-bottom: 20px;
  padding-top: 0;
  margin-top: 0;
}

#contact form {
  text-align: center;
}

#contact input[type="text"] , input[type="email"]{
  width: 30%;
  height: 5px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
  border-radius: 5px;
  text-align: center;
}

#contact textarea {
  width: 30%;
  height: 20%;
  margin-bottom: 10px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
  border-radius: 5px;
  background-color: #fff;
}

#contact form p {
  color: #fff;
}

#contact input[type="submit"] {
  width: 10%;
  height: 7%;
  font-size: 12px;
  margin-bottom: 30px;
}
